<li>
	{{dataValues.burgerName}}

	<button class="change-devour" data-id="{{dataValues.id}}" data-newDevour="{{devour}}">
		{{#if dataValues.devourBurger}}DINNER TIME!{{else}}Yum!!{{/if}}
	</button>

    <button class= "delete-burger" data-id="{{dataValues.id}}">Delete</button>
</li>
