<li>
	{{burgerName}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devourBurger}}DINNER TIME!{{else}}Yum!!{{/if}}
	</button>

    <button class= "delete-burger" data-id="{{this.id}}">Delete</button>
</li>
