<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
		{{#if devour}}DEVOUR TIME!{{else}}Yum!!{{/if}}
	</button>

    <button class= "delete-burger" data-id="{{this.id}}">Delete</button>
</li>
